* {
	padding: 0;
	margin: 0;
}

body {
  background: linear-gradient(135deg, #3d2b1f, #1f140c);
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

.papiro {
	width: 300px;
	background-color: #F5E6C8;
	padding: 50px 20px;
	box-sizing: border-box;
	border-radius: 10px;
}

p {
  width: 70%;
  color: #4a2b17;
  font-size: 25px;
  line-height: 1.5;
  text-align: justify;
  font-family: "Cormorant Garamond", serif;
}

h1 {
	color: #4a2b17;	
	font-size: 50px;
	font-family: "Cormorant Garamond", serif;
	margin-bottom: 30px;
}

a {
	text-align: center;
	font-size: 18px;
	text-decoration: none;
	padding: 7px;
	border-radius: 5px;
	color: #4a2b17;
	background-color: #8B5A2B;
	box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.7);
	transition: 0.5s;
}

a:hover {
	color: #808000;
	background-color: #4a2b17;
}